.primary {
  color: var(--primary-applink);
  font-size: 18px;
}
.primary:hover {
  color: var(--red);
}

.secondary {
  color: var(--secondary-applink);
  font-size: 18px;
}
.secondary:hover {
  color: var(--red);
}
